@import url('https://fonts.googleapis.com/css?family=Inder&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 10vh;
  color: #111111;
  background-color: #eee;
  height: 100%;
  font-family: "Inder", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 400;
}

header {
  position: fixed;
  top: 0;
  background-color: #111111;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 5%;
  z-index: 500;
}


.logo {
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin-right: auto;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-links {
  position: relative;
  text-decoration: none;
  color: #eeeeee;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 15px 25px;
  margin: 5px;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.nav-links::before{
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-image: linear-gradient(to bottom,#A039CC,#B25CDA);
  transition: width 0.3s ease-in-out;
}

.nav-links:hover::before{
  width: 100%;
}

.nav-links:hover{
  color: #111111;
}

#burg{
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  z-index: 5033;
  visibility: hidden;
}
.bar{
  height: 5px;
  width: 100%;
  background-color: #eee;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1{
  transform: translateY(-4px);
}
#bar3{
  transform: translateY(4px);
}
.bnav li a{
  color: #fff;
  text-decoration: none;
}
.bnav li a:hover{
  font-weight: bold;
}
.bnav li{
  list-style: none;
  padding: 16px 0;
}
.bnav{
  padding: 0;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none;
}
.burg-bg, #burg-bar{
  top: 0;
  left: 0;
  position: absolute;
}
.burg-bg{
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #B25CDA, #A039CC);
  border-radius: 50%;
  transition: 0.3s ease;
}
#burg-bar{
  z-index: 2;
}
.change-bg{
  width: 550px;
  height: 640px;
  transform: translate(-60%,-30%);
}
.change .bar{
  background-color: white;
}
.change #bar1{
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
  transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
  opacity: 0;
}
.change{
  display: block;
}

#flash, #errMsg {
  color: rgb(255, 44, 46);
  border: rgb(255, 44, 46) 1px solid;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 146, 0.7);
}

button {
  color: #eeeeee;
  font-weight: bold;
  padding: 9px 25px;
  margin: 5px ;
  background-color: #A039CC;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #B25CDA;

}

button:active {
  transform: scale(0.95);
}

.dropdown {
  display: none;
  position: fixed;
  background-color: #eee;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown a,li {
  color: #111111;
  padding: 12px 16px;
  text-decoration: none;
  background-color: transparent;
  display: block;
}

.dropdown > a:hover{
  background-color: #111111;
  color: #A039CC;
}

#menu:hover .dropdown {
  display: flex;
  flex-direction: column;
}

header:hover #menu {
  background-color: transparent;
}


.button, .display {
  margin: 20px;
  padding: 10px 25px;

  text-decoration: none;

  color: #ffffff;
  border: #ffffff 2px solid;
  border-radius: 5px;
  background: transparent;

  font-size: 18px;
  font-weight: bold;
}

.button:hover, .button:focus {
  color: #111111;
  background-color: #f0f0f0;
  box-shadow: 0 0 3px #111111;
  text-shadow: 0 0 #111111;
  transition: background-color 1s ease-out;
}

.button:active {
  transform: scale(0.95);
}

.card {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
  margin: 2%;

  transition: all ease-in-out 500ms;

  color: #fff;
  border-radius: 5px;
  background: #222222 no-repeat center;
  background-size: cover;

  font-size: 3rem;
}

.card h6{
  margin-top: 2vh;
}

.wide {
  transition: all ease-in-out 500ms;
  grid-column: span 2/auto;
}

.wide > *{
  padding: 10px;
  margin: 25px;
  font-size: 20px;
  letter-spacing: 3px;
}


.wide select{
  color: #eeeeee;
}

.card:hover {
  transform: translateY(-3px) scale(1.03);
}

.grid-container {
  display: grid;
  margin: 15% 10%;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
}
.grid-container span {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}


.wrapper{
  display: flex;
  flex-direction: row;
}

.left {
  width: 70%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left img{
  height: 75vh;
  object-fit: cover;
  align-self: center;
  margin: 20px 0;
  overflow: no-display;
}

.left h3, #info{
  margin-top: 25px;
  margin-bottom: 0;
  align-self: center;

  color: #111;
}
.right  {
  width: 30%;
  height: 90vh;
  overflow-y: auto;
  padding: 0 50px;
  text-align: left;
  background: #111111;
  color: #eeeeee;
}

#display{
  min-height: 50%;
}

.right li {
  cursor: pointer;
}

.right h2{
  margin-top: 20px;
}

.right input {
  width: 100%;
  margin: 8px 0;
  padding: 12px 15px;

  color: #eee;
  border: none;
  background: #222222;
}

.up{
  margin-top: 20px;
  height: 30%;
}

.up span{
  display: flex;
  flex-direction: row;
}

.suggestion {
  display: none;
  background-color: #eee;

}

.suggestion li {
  color: #111111;
  padding: 12px 16px;
  text-decoration: none;
  background-color: transparent;
  display: block;
  border: solid 1px #eee;
}

.suggestion > li:hover{
  background-color: #111111;
  color: #A039CC;
}


.pimg1, .pimg2, .pimg3{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

.pimg1{
  background-image: url('../img/home1.jpg');
  min-height: 90vh;
}

.pimg2{
  background-image: url('../img/home4.jpg');
  min-height: 400px;
}

.pimg3{
  background-image: url('../img/home3.jpg');
  min-height: 400px;
}

.section{
  text-align: center;
  padding: 50px 80px;
  background-color: #222222;
  color: #A039CC;
}

.subsection{
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s all ease-in-out;
  margin: 0 25%;
}

.subsection p{
  padding-top: 2em;
}

.subsection-appear{
  opacity: 1;
  transform: translateY(0px);
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #222222;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border{
  background-color: #A039CC;
  color: #222222;
  padding: 20px;
  cursor: auto;
}

.border a {
  text-decoration: none;
  color: #222222;
}



.slideshow{
  width: 60%;
  margin: auto;
}

.slide{
  display: flex;
  width: 100%;
  height: 60vh;
}

.slideshow img{
  width: 100%;
  object-fit: cover;
}

.gallery-item{
  transition: all ease-in-out 500ms;
  color: #fff;
  position: relative;
  background-size: cover;
  cursor: pointer;
}

.gallery-item .infoz{
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
  height: 100%;
  width: 100%;
  background-color: #111111;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  border-radius: 5px;
}

.gallery-item .infozcont{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #eeeeee;
  text-align: center;
}

.gallery-item:hover{
  transform: translateY(-3px) scale(1.03);
}

.gallery-item:hover .infoz{
  opacity: 0.8;
}

.gallery-item img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.gallery {
  display: grid;

  margin: 5vh 5vw 5vh;

  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.showmore{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.sinistra {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 5%;
  margin-right: 35%;
}

.sinistra img{
  max-height: 70vh;
  object-fit: fill;
  margin: 20px 0 20px;
  overflow: no-display;
}

.sinistra h1, .sinistra h2{
  margin-top: 25px;
  margin-bottom: 0;
  color: #111;
}

.comment textarea{
  background-color: #fff;
  margin: 20px 0;
  resize: none;
  max-width: 100%;
  max-height: 80px;
  border-radius: 5px;
  padding: 10px;
}

.comment-section {
  background-color: #222222;
  border-radius: 5px;
  margin: 20px 5px 5px 5px;
  padding: 15px;

}

.comment-section h4{
  align-self: flex-start;
  color: #A039CC;
}

.comment-section p {
  color: #eeeeee;
}

#select * {
  background-color: #eeeeee;
  color: #111111;
}

@media only screen and (max-width: 1080px){
  .logo {
    visibility: hidden;
  }

  #menu{
    visibility: hidden;
  }

  header nav{
    visibility: hidden;
  }

  #burg{
    visibility: visible;
  }




}

@media only screen and (max-width: 768px){

  .section {
    padding: 10%;
  }

  .subsection {
    margin: auto 0;
  }

  .grid-container{
    margin: auto;
  }

  .card:hover{
    transform: scale(1);
  }

  .card{

  }

  .wide{
    grid-column: span 1/auto;
  }

  .wide > * {
    padding: 2%;
    margin: 2%;
  }

  .wrapper{
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left img{
    height: 50vh;
    object-fit: cover;
    align-self: center;
    overflow: no-display;
  }

  .left h3, #info{
    margin: 4%;
    font-size: 20px;
    color: #111;
  }
  .right  {
    width: auto;
    height: 55vh;
    overflow-y: auto;
    text-align: left;
    background: #111111;
    color: #eeeeee;
  }

  #display{
    min-height: 50%;
  }

  .right li {
    cursor: pointer;
  }

  .right h2{
    margin-top: 5%;
  }

  .right input {
    width: 100%;
    margin: 8px 0;
    padding: 12px 15px;

    color: #eee;
    border: none;
    background: #222222;
  }

  .up{
    margin-top: 5%;
    height: 20%;
  }

  .up span{
    display: flex;
    flex-direction: row;
  }

  .suggestion {
    display: none;
    background-color: #eee;
    margin-top: 21%;

  }

  .suggestion li {
    color: #111111;
    padding: 12px 16px;
    text-decoration: none;
    background-color: transparent;
    display: block;
    border: solid 1px #eee;
  }

  .suggestion > li:hover{
    background-color: #111111;
    color: #A039CC;
  }

  button{
    margin:5px;
    padding: 9px 15px;
  }

  .slideshow{
    width: auto;
  }
}
